@CHARSET "EUC-KR";

@media screen and (min-width:768px) {
	.review.grid-2{
		clear: both;
	}
}

@media screen and (min-width:992px) {
	.review.grid-2{
		clear: none;
	}
	.review.grid-3{
		clear: both;
	}
}

@media screen and (min-width:1024px) {
	.page-container{
		padding-top: 110px;
	}
	
}