@CHARSET "EUC-KR";

@media screen and (min-width: 768px) {
	
	#header-container{
		padding: 0 30px;
	}
	
	.nav-btn {
		padding: 4px 12px;
		font-size: 1.2rem;
	}
	
	.btn-map i{
		margin-right: 4px;
		font-size: 1.5rem;
	}
	
}



@media screen and (min-width: 1024px) {

	#header-container{
		right: 0;
		height: 70px;
		margin: 0 auto;
		border-bottom: none;
		background-color: transparent;
	}
	
	#header-container.scrollActive{
		background-color: #fff;
		border-bottom: 1px solid #ccc;
	}
	
	#header{
		max-width: 1400px;
		margin: 0 auto;
	}
	
	#logo a {
		font-size: 2.5rem;
		line-height: 70px;
	}
	
	#header .nav-container{
		margin-top: 21px;
	}
	
	#header .nav-container > li{
		margin-left: 10px;
	}
	
	.nav-btn {
		padding: 4px 16px;
		font-size: 1.3rem;
	}
	
	.btn-map i{
		margin-right: 3px;
		font-size: 1.6rem;
	}

	.btn-login{
		border-color: #fff;
		color: #fff;
	}
	
	.btn-login:hover{
		background-color: #fff;
		color: #555;
	}
	
	.scrollActive .btn-login{
		border-color: #555;
		color: #555;
	}
	
	.scrollActive .btn-login:hover{
		background-color: #555;
		color: #fff;
	}
	
}
