@CHARSET "EUC-KR";
* {
	font-family: 'Noto Sans KR', sans-serif;
}

html{
	font-size: 12px;
}

li {
	list-style-type: none;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none !important;
}