@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(./reset.css);
@import url(./header.css);
@import url(./header_response.css);
@import url(./footer.css);
@import url(./footer_response.css);

.page-container{
	padding-top: 70px;
	padding-bottom: 100px;
	-webkit-transition: padding 0.45s ease;
	-moz-transition: padding 0.45s ease;
	-ms-transition: padding 0.45s ease;
	-o-transition: padding 0.45s ease;
	transition: padding 0.45s ease;
}

.pageNavigation{
	text-align: center;
}

@media screen and (min-width: 1024px) {
	.page-container{
		padding-top: 110px;
	}
}