@CHARSET "EUC-KR";

.review-view-page{
	
}

.review-view-page .main-img-container img{
	width: 100%;
}

.review-view-page .review-content{
	margin-top: 50px;
	margin-bottom: 50px;
}

.info-container{
	margin-top: 15px;
}

.info-container .label{
	font-size: 1.5rem;
}

.shopImg{
	margin-bottom: 13px;
}

.shopInfoContainer.table>tbody>tr>th {
	border-top: none;
}

.shopInfoContainer .shopTitle{
	font-size: 1.9rem;
}

.shopInfoContainer .score{
	font-size: 1.2rem;
	vertical-align: super;
}

.shopInfoContainer .categoryTitle{
	font-size: 1.2rem;
	vertical-align: super;
}

.hr{
	border-top: 1px solid #ccc;
	margin-top: 20px;
}

.like-unlike-container{
	margin-top: 13px;
}

.like-unlike-container .btn{
	background-color: #fff;
	border-color: #ffaf3e;
	color: #ffaf3e;
	outline: none !important;
	-webkit-transition: all 0.45s ease;
	-moz-transition: all 0.45s ease;
	-ms-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
	transition: all 0.45s ease;
}

.like-unlike-container .btn.on{
	background-color: #ffaf3e;
	border-color: #ffaf3e;
	color: #fff;
}